<div class="section">
    <div class="notice">
         <% if flash[:notice] =="投稿が成功しました" or flash[:notice] =="編集が成功しました" %>
            <p style="color:green"><%= flash[:notice] %></p>
        <% else %>
            <p style="color:red"><%= flash[:notice] %></p>
        <% end %>
    </div>
    <h2 class="subheadline">編集画面</h2>
    <%= form_with model: @book do |f| %>
        <h4>本のタイトル</h4>
        <%= f.text_field :title %>
        <h4>感想</h4>
        <%= f.text_area :body %>
        <p><%= f.submit '保存' %></p>
        <%= link_to "詳細", book_path(@book.id) %>
        <%= link_to "戻る", "/books" %> 
    <% end %>
</div>
